<% case @doorstate %>
<% when 0 %>
<%  door_str = "CLOSED." %>
<%  bg_color = "#aa0000" %>
<% when 1 %>
<%  door_str = "OPEN!" %>
<%  bg_color = "#00aa00" %>
<% else %>
<%  door_str = "having sensor problems." %>
<%  bg_color = "#444" %>
<% end %>

<style>
  body
  {
  background-color: <%= bg_color %>;
  }
</style>

<h1>The Columbia FSAE Shop is <%= door_str %></h1>

<p>How to find us</p>
<ol>
  <li>In Mudd, take the stairs to the basement.</li>
  <li>Take the hallway to the right.</li>
  <li>Turn right, away from the elevator.</li>
  <li>Pass through the first set of double doors and turn right again.</li>
  <li>Head to the end of the hallway.</li>
</ol>

<p>If you get lost, call the shop at (212)&nbsp;851-0257.</p>

<footer>Updated <%= Time.new.inspect %>. Email problems to kxc2103 /at/ columbia.edu.</footer>
