<h1>FSAE Door Status</h1>
<p>The door is currently 
<% case @doorstate %>
<% when 0 %>
<%= "CLOSED. :-(" %>
<% when 1 %>
<%= "OPEN!" %>
<% else %>
<%= "having sensor problems." %>
<% end %>
</p>
<p>Updated <%= Time.new.inspect %></p>
