<% case @doorstate %>
<% when 0 %>
<%	door_str = "CLOSED. :-(" %>
<%	bg_color = "#ff0000" %>
<% when 1 %>
<%	door_str = "OPEN!" %>
<%	bg_color = "#00ff00" %>
<% else %>
<%	door_str = "having sensor problems." %>
<%	bg_color = "#eeeeee" %>
<% end %>

<h1>FSAE Door Status</h1>
<div class="column_content">
	<p>hello</p>
</div>

<div class="column_spacer"></div>

<div class="column_content" style="background-color: <%= bg_color %>;">
	<p><%= door_str %></p>
</div>

<footer>Updated <%= Time.new.inspect %></footer>
